@inherits LayoutComponentBase

<div class="list-layout-shell">
    <div class="list-layout-header">
        <NavMenu />
    </div>

    <main class="list-layout-main">
        <article class="list-layout-content">
            @Body
        </article>
    </main>
</div>